{% extends 'core/layout.html' %}

{% block content %}


  <main>
    {% load static %}
    
    <section class="py-5 text-center container text-light">
      <h1> Productos Disponibles </h1>
    </section>

    <div class="container">

      <div class="row">
          <h1>Listado de Productos</h1>
      </div><br>
      <a href="{% url 'guarda_producto' %}"  class="btn btn-primary">Ingresar Productos</a> <br><br>
      <div class="row">
          <table>
              <tr>
                  <td>IdProducto</td>
                  <td>Nombre</td>
                  <td>Precio</td>
                  <td>Modelo</td>
                  <td>CATEGORIA</td>
              </tr>
              {% for prod in Productos %}
              <tr>
                  <td>{{prod.idProducto}}</td>
                  <td>{{prod.nombre}}</td>
                  <td>{{prod.precio}}</td>
                  <td>{{prod.modelo}}</td>
                  <td>{{prod.categoria}}</td>
                  <td>
                     <a href="{% url 'form_mod_producto' prod.Producto %}"  class="btn btn-primary">Modificar</a> 
                     <a href="{% url 'elimina_producto' prod.Producto %}"  class="btn btn-danger">Eliminar</a>       
                  </td>
              </tr>

              {% endfor %}
          </table>
      </div>

  {% endblock%}