{% extends 'core/layout.html' %}

{% block content %}
<main>
  {% load static %}

  
    <div class="container">
      <p class="d-inline-block class=" align-text-bottom style="color: white;" id="temperatura"></p>

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/pc1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bienvenido PC Advance.</h5>
              <p>Empresa número 1 del mercado de venta de accesorios tecnológicos</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/pc2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Encuentra lo que buscas!</h5>
              <p>En nuestra sección "Catálogo" podrás encontrar todos nuestros productos disponibles.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/pc3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Dudas? Alcances? Contáctanos!</h5>
              <p>En el apartado "Contáctanos" podrás llenar un formulario con tus inquietudes y dudas, será respondido a
                la brevedad.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</main>
{% endblock %}