{% extends 'core/layout.html' %}

{% block content %}
<main>
  {% load static %}
  <div class="container" style="background-color: #ffffff;">
    <p class="d-inline-block class=" align-text-bottom  id="temperatura"></p>
    <div class="card">
      <div class="card-header">
        ¿Quienes somos?
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p style="font-style: oblique;">Pc Advantage es una empresa Internacional, que comenzó sus operaciones en el
            año 1999,
            transformándose durante este tiempo, en la una de las mayores cadena de tiendas especialista en tecnología
            del país.</p>
        </blockquote>
        <blockquote class="blockquote mb-0">
          <p style="font-style: oblique;">Empezamos nuestra historia enfocados en el rubro de las computadores de
            escritorio,
            pero crecimos sin parar hasta lograr un mix inigualable de productos tecnológicos, tanto para personas como
            para pequeñas y medianas empresas.</p>
        </blockquote>
        <blockquote>
          Contamos con opciones en telefonía impresión, fotografía, audio, seguridad, domótica, computacion, perifericos
          y entretenimiento.
        </blockquote>

      </div>
    </div>

  </div>
</main>
{% endblock %}


